<div class="feedback">Help us improve accuracy by adding the below data</div>
              <div class="ui grid">
                <div class="ten wide column">
                  <div class="three fields">
                    <div class="field">
                      <label>City</label>
                      <input placeholder="City" type="text" ng-model="fb.city">
                    </div>
                    <div class="field">
                      <label>State</label>
                      <input placeholder="State" type="text" ng-model="fb.region">
                    </div>
                    <div class="field">
                      <label>Country</label>
                      <div class="ui fluid selection dropdown">
                        <div class="text">Country</div>
                        <i class="dropdown icon"></i>
                        <input type="hidden" name="country">
                        <div class="menu">
			<div ng-include="'partials/countrylist.html'"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="three fields" style="margin-top: 2em">
                    <div class="field">
                      <label>Network</label>
                      <input type="radio" name="network" value="WiFi"  checked="true"> WiFi
                      <input type="radio" name="network" value="Wired" style="margin-left: 1em"> Wired
                      <input type="radio" name="network" value="Mobile" style="margin-left: 1em"> Mobile
                    </div>
                    <div class="field">
                      <label>Cost of Data Plan (in USD)</label>
                      <input placeholder="Cost of Data Plan (in USD)" type="number" ng-model="fb.cost">
                    </div>
                    <div class="field">
                      <label>Advertised Speed (in Mbps)</label>
                      <input placeholder="Advertised Speed (in Mbps)" type="text" ng-model="fb.speed">
                    </div>
                  </div>
                </div>
                <div class="six column wide">
                  <div class="field">
                    <label>Comments</label>
                    <textarea ng-model="fb.comments" style="min-height:5.8em; height:5.8em"></textarea>
                  </div>
                  <div class="ui fluid black submit button" ng-click="submitFeedback()">Submit</div>
                </div>
              </div>
